<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="starter :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="starter :: main-header-sidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" >
        <!-- Content Header (Page header) -->
        <!--<span th:with="oldUserInfo=${#httpServletRequest.getParameter('userInfo')}">-->
            <!---->
        <!--</span>-->


        <section class="content-header">
            <h1>
                管理员信息维护
                <small>管理员信息编辑</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>


        <!-- Main content -->
        <section class="content container-fluid">
            <form role="form" method="POST" action="/admin/editAdmin">
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">管理员名:</label>
                        <input type="text" name="adminName" class="form-control" th:value= "${oldAdminInfo.adminName}"  placeholder="用户名...">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">管理员代码:</label>
                        <input type="text" name="adminCode" class="form-control" th:value = "${oldAdminInfo.adminCode}"  placeholder="手机号码...">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">手机号码:</label>
                        <input type="text" name="mobileNum" class="form-control" th:value= "${oldAdminInfo.mobileNum}" placeholder="昵称...">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码:</label>
                        <input type="text" name="passWord" class="form-control" th:value= "${oldAdminInfo.passWord}" placeholder="昵称...">
                    </div>
                    <input type="hidden" name="id" class="form-control" th:value= "${oldAdminInfo.id}"  placeholder="昵称...">
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

    <!-- /.box-body -->
    </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="starter :: main-footer"></div>
</body>
</html>