<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="starter :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="starter :: main-header-sidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" >
        <!-- Content Header (Page header) -->
        <!--<span th:with="oldUserInfo=${#httpServletRequest.getParameter('userInfo')}">-->
            <!---->
        <!--</span>-->

        <section class="content-header">
            <h1>
                Page Header
                <small>Optional description</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>


        <!-- Main content -->
        <section class="content container-fluid">

            <form method="POST" action="/user/addUser">
                <label for="userName">用户名:</label>
                <input type="text" name="userName" size="50"/><br/>
                <label for="mobileNum">手机号码:</label>
                <input type="text" name="mobileNum" size="50"/><br/>
                <input type="submit"/>

            </form>
            <div id="win">
                <div id="title">我是标题栏！<span id="close" onclick="hide()">X</span></div>
                <div id="content">我是一个窗口！</div>
            </div>
    <!-- /.box-body -->
    </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="starter :: main-footer"></div>
</body>
</html>