<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="starter :: head">
    <title>猜数字啦</title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="starter :: main-header-sidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                竞猜&开奖
                <small>黏贴竞猜内容到下面框里以投注，等待开奖</small>
            </h1>
            <!--<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>-->
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

            <div class="row">
                <!--投注框-->
                <div class="form-group col-md-6">
                    <textarea class="form-control" id="betContent" rows="25" placeholder="把qq竞猜聊天记录复制到这里"></textarea>

                </div>

                <!--分析出的投注结果展示在这里-->
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-header">
                            <span id="openNo"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            开奖结果：<span style="color:red;padding-left: 0.5em;padding-right: 0.5em;"
                                       id="openResult">未开奖</span>
                            <a href="#" id="viewHistory" data-toggle="modal" data-target="#openResultModal">往期开奖结果</a>
                        </div>
                        <div class="box-body">
                            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="tabBetInfo" class="table table-bordered table-hover dataTable"
                                               role="grid"
                                               aria-describedby="example2_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="example2"
                                                    rowspan="1"
                                                    colspan="1"
                                                    aria-sort="ascending"
                                                    aria-label="Rendering engine: activate to sort column descending">
                                                    投注人
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Browser: activate to sort column ascending">投注内容
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Platform(s): activate to sort column ascending">投注积分
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1"
                                                    aria-label="CSS grade: activate to sort column ascending">中奖结果
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>

                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <!--开始下注，后台解析下注内容-->
                    <button type="button" id="btnAnalysis" class="btn btn-block btn-primary btn-lg">开始下注</button>
                </div>
                <div class="col-md-6">
                    <!--下注和开奖-->
                    <button type="button" class="btn btn-block btn-primary btn-lg" data-toggle="modal"
                            data-target="#createModal">开奖</button>
                </div>
            </div>


        </section>
        <!-- /.content -->

        <!-- 弹出框 -->
        <section>
            <!-- 开奖框 -->
            <div class="modal fade" id="createModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">开奖</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" method="POST" id="openForm" action="/guess/open">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="selOpenNo">开奖期数:</label>
                                        <select id="selOpenNo" class="form-control">

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="txtOpenNum">开奖号码:</label>
                                        <input type="text" id="txtOpenNum" name="openNum" class="form-control"
                                               placeholder="开奖号码，如：234">
                                    </div>
                                    <!--<div class="form-group">-->
                                    <!--<label for="exampleInputPassword1">手机号码:</label>-->
                                    <!--<input type="text" name="mobileNum" class="form-control"   placeholder="手机号码...">-->
                                    <!--</div>-->
                                </div>
                                <!-- /.box-body -->

                                <!--<div class="box-footer">-->
                                <!--<button type="submit" class="btn btn-primary" >Submit</button>-->
                                <!--</div>-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" id="btnOpen" class="btn btn-primary" data-dismiss="modal">确认开奖</button>
                                    <!--<button  id="saveAdminBtn" class="btn btn-primary">保存</button>-->
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
            <!-- 历史开奖结果 -->
            <div class="modal fade" id="openResultModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">往期开奖结果</h4>
                        </div>
                        <div class="modal-body">
                            <div class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="tabOpenResult" class="table table-bordered table-hover dataTable"
                                               role="grid"
                                               aria-describedby="example2_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Browser: activate to sort column ascending">开奖期数
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Platform(s): activate to sort column ascending">开奖结果
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>

                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>

            <!-- 本期中奖结果 -->
            <div class="modal fade" id="currentResultModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">本期开奖结果</h4>
                        </div>
                        <div class="modal-body">
                            <div class="dataTables_wrapper form-inline dt-bootstrap">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="tabCurrentResult" class="table table-bordered table-hover dataTable"
                                               role="grid"
                                               aria-describedby="example2_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Browser: activate to sort column ascending">名称
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Platform(s): activate to sort column ascending">总分
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Platform(s): activate to sort column ascending">输赢
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>

                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnAnalysis").click(function () {
                $("#openResult").html("等待开奖");
                var data = $("#betContent").val();
                //data = data.replace("\n","<br>");
                console.info(data);
                $.post("/guess/analysis", {betContent: data}, function (result) {

                    $("#tabBetInfo tr:not(:first)").empty(); //清空table（除了第一行以外）
                    var jsonResult = eval(result);
                    var betResult = jsonResult[0];
                    var openResult = jsonResult[1];

                    var openNo = openResult.openNo.toString().substr(8, 3);

                    $("#openNo").text( openNo + "期");
                    //加载开奖期数
                    $("#selOpenNo").empty();
                    for(var i=1;i<=parseInt(openNo);i++){
                        var option = "";
                        if(i == parseInt(openNo)){
                            option = "<option value='"+i+"' selected='true'>第"+i+"期</option>"
                        }else{
                            option = "<option value='"+i+"'>第"+i+"期</option>";
                        }
                        $("#selOpenNo").append(option);
                    }

                    for (var j = 0; j < betResult.length; j++) {
                        var p = betResult[j];
                        var trHTML = "<tr role=\"row\" class=\"odd\">" +
                            " <td class=\"sorting_1\">" + p.betman + "</td>" +
                            " <td>" + p.betitem + "</td>" +
                            "<td>" + p.betmoney + "</td>" +
                            "<td>未开奖</td>" +
                            "</tr>";
                        $("#tabBetInfo").append(trHTML);//在table最后面添加一行
                    }


                    debugger;
                });
            });

            //查看往期开奖结果
            $("#viewHistory").click(function () {
                $.get("/guess/viewHistory", "", function (result) {

                    $("#tabOpenResult tr:not(:first)").empty(); //清空table（除了第一行以外）
                    var jsonResult = eval(result);

                    for (var i = 0; i < jsonResult.length; i++) {
                        var openInfo = jsonResult[i];
                        var openNo1 = openInfo.openNo;
                        var openNo2 = openNo1.toString().substr(8, 3);
                        var trHTML = "<tr role=\"row\" class=\"odd\">" +
                            " <td class=\"sorting_1\">" + openNo2 + "期</td>" +
                            " <td>" + openInfo.openResult + "</td>" +
                            "</tr>";
                        $("#tabOpenResult").append(trHTML);//在table最后面添加一行

                    }

                    debugger;
                });

            });

            //开奖
            $("#btnOpen").click(function () {
                var param = $("#txtOpenNum").val();
                $.post("/guess/open", {openNum:param}, function (result) {
                    debugger;
                    var jsonResult = eval(result);
                    var jsonOpenResult = jsonResult[0];
                    var jsonBetInfo = jsonResult[1];
                    var jsonUserBetInfo = jsonResult[2];

                    $("#tabBetInfo tr:not(:first)").empty(); //清空table（除了第一行以外）
                    $("#openResult").html(jsonOpenResult);
                    for (var j = 0; j < jsonBetInfo.length; j++) {
                        var p = jsonBetInfo[j];
                        var trHTML = "<tr role=\"row\" class=\"odd\">" +
                            " <td class=\"sorting_1\">" + p.betman + "</td>" +
                            " <td>" + p.betitem + "</td>" +
                            "<td>" + p.betmoney + "</td>" +
                            "<td>"+ p.returnMoney+"</td>" +
                            "</tr>";
                        $("#tabBetInfo").append(trHTML);//在table最后面添加一行
                    }

                    $("#tabCurrentResult tr:not(:first)").empty(); //清空table（除了第一行以外）
                    for(var j=0;j<jsonUserBetInfo.length;j++){
                        var p = jsonUserBetInfo[j];
                        var trHTML = "<tr role=\"row\" class=\"odd\">" +
                            " <td class=\"sorting_1\">" + p.userName + "</td>" +
                            " <td>" + p.userBalance + "</td>" +
                            "<td>" + p.returnSum + "</td>" +
                            "</tr>";
                        $("#tabCurrentResult").append(trHTML);//在table最后面添加一行
                    }
                    $("#currentResultModal").modal("show");

                });

            });
        })
    </script>
    <!-- /.content-wrapper -->
    <div th:replace="starter :: main-footer"></div>
</div>
</body>
</html>