<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="starter :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="starter :: main-header-sidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                常用语与赔率设置
                <small>信息展示</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

            <form method="POST" action="/odds/oddsList">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>常用语</th>
                        <th>赔率</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="oddsInfo : ${oddsList}">
                        <td th:text="${oddsInfo.oddsName}"></td>
                        <td th:text="${oddsInfo.oddsNumber}"></td>
                        <td><a th:href="@{/odds/oddsInfoHtml(oddsId=${oddsInfo.id})}" >修改</a>
                            <a th:href="@{/odds/delOddsInfo(oddsId=${oddsInfo.id})}" >删除</a></td>
                    </tr>

                    </tbody>
                </table>

            </form>
            <form method="GET" action="/odds/addOddshtml">
                <button type="submit">新增</button>
            </form >
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="starter :: main-footer"></div>
</body>
</html>