<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="starter :: head"></head>
<!--<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css">-->
<!--<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css">-->
<!--<link rel="stylesheet" type="text/css" href="/easyui/demo/demo.css">-->
<!--<script type="text/javascript" src="/easyui/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>-->
<script type="text/javascript">
    function addPageNo() {
        debugger;
//        $("#hiddenPageNo").val($("#pageNo").val());
        var pageNo = document.getElementById("pageNo").value;

        if(pageNo == "") {
            if(document.getElementById("hiddenPageNo").value == "") document.getElementById("hiddenPageNo").value = 1;
            return true;
        }
        //pageNo = document.getElementById("hiddenPageNo").value;
        if(!isPositiveInteger(pageNo)){
            alert("请输入正确页码!");
            return false;

        }
        document.getElementById("hiddenPageNo").value = pageNo;
        return true;
    }

    function goFunction(){

        if(addPageNo()) document.getElementById('queryForm').submit();
    }

    function  goLast() {
        document.getElementById("hiddenPageNo").value = document.getElementById("allPageNo").value;
        document.getElementById('queryForm').submit();
    }
    function goFirst() {
        document.getElementById("hiddenPageNo").value = 1;
        document.getElementById('queryForm').submit();
        return true;
    }

    function isPositiveInteger(s){//是否为正整数
        var re = /^[0-9]+$/ ;
        return re.test(s)
    }
</script>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div th:replace="starter :: main-header-sidebar"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                用户账户信息列表
                <small>用户账户信息分页展示</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>


        <!-- Main content -->
        <section class="content container-fluid">
        <form method="POST" action="/userAccount/userAccountList" onsubmit="return addPageNo()" id = "queryForm">
            <table>
                <tr>
                    <td>
                        <div class="form-group">
                            <label>用户名:</label>
                            <input type="text" name = "userName"  th:value="${queryCond.userName}" placeholder="输入用户名 ...">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <label>昵称:</label>
                            <input type="text" name= "nickName" th:value="${queryCond.nickName}" placeholder="输入昵称 ...">
                        </div>
                    </td>
                    <td>
                        <button type="submit">查询</button>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="pageNo" id = "hiddenPageNo" th:value="${currentPage}"/>
        </form>
            <input type="hidden"  id = "allPageNo" th:value="${inallPage}"/>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">用户基本信息维护</h3>
                </div>
    <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>用户名</th>
                            <th>昵称</th>
                            <th>手机号码</th>
                            <th>账户余额</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="userAccount : ${userAccountList}">
                            <td th:text="${userAccount.userName}">Onions</td>
                            <td th:text="${userAccount.nickName}">2.41</td>
                            <td th:text="${userAccount.mobileNum}">yes</td>
                            <td th:text="${userAccount.money}"">yes</td>
                            <td><a th:href="@{/userAccount/editUserAccount.html(userId=${userAccount.id})}" >修改</a></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Rendering engine</th>
                            <th>Browser</th>
                            <th>Platform(s)</th>
                            <th>Engine version</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="example2_info" role="status" aria-live="polite" th:text="${inallPageDesc}"></div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate" >
                            <ul class="pagination">
                                <li class="paginate_button previous " id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" onclick="goFirst()">首页</a></li>
                                <li class="paginate_button "><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" >跳转到<input id = "pageNo" type="text" data-th-high="20"   placeholder="输入页面 ..." />页<input type="button" data-th-high="20"  value="go" onclick="goFunction()"></a></li>

                                <li class="paginate_button next" ><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" onclick="goLast()">尾页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="starter :: main-footer"></div>
    <div id="addCaseDiv" style="display:none;">
        <iframe></iframe>
    </div>
</body>
</html>