<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="digitalgame.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="digitalgame.model.po.UserInfo" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="mobile_num" property="mobileNum" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="is_enable" property="isEnable" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, mobile_num, nick_name, update_time, is_enable, create_time, create_time
  </sql>
  <insert id="insert" parameterType="digitalgame.model.po.UserInfo" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT  last_insert_rowid() AS id
    </selectKey>
    insert into user_info (ID, user_name, mobile_num, 
      nick_name, is_enable, update_time, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{mobileNum,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{isEnable,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="digitalgame.model.po.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="mobileNum != null" >
        mobile_num,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobileNum != null" >
        #{mobileNum,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info ${whereCond}

  </select>

  <update id="updateByPrimaryKeySelective" parameterType="digitalgame.model.po.UserInfo" >
    update user_info
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="mobileNum != null" >
        mobile_num = #{mobileNum,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        is_Enable = #{isEnable,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap"  parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectUserAccountByPage" resultType="digitalgame.model.po.UserAccountVo">
      SELECT  u.id, user_name as userName , u.mobile_num as mobileNum, u.nick_name as nickName,ufa.balance as money
       ,ufa.id as accountId from user_info
       u,user_finance_account ufa where u.ID = ufa.user_id ${whereCond}
  </select>
    <select id="selectByNickName" resultMap="BaseResultMap"  parameterType="java.lang.String" >
      select
      <include refid="Base_Column_List" />
      from user_info
      where nick_name = #{id,jdbcType=VARCHAR}
    </select>
</mapper>